/* Estilos generales */
:root{
    --white: #FFFF;
    --primary: rgb(4, 131, 205);
    --secondary: rgb(173, 255, 47);
    /* Transparencia */
    --transparent1: rgba(194, 194, 194, 0);
    --transparent2: rgba(194, 194, 194, 0.3);
}

a{
    text-decoration: none;
}

.nav, .main, .footer {
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--primary);
}

/* Navegador */
.nav{
    font-size: 25px;
}

.verde{
    color: var(--secondary);
}

.blanco{
    color: var(--white);
}

/* Contenido principal */
.main{
    padding: 1rem;
}

.row{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/*1ra Columna*/
.cartelera {
    margin: auto;
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 40rem;

    background-color: var(--transparent2);
}

.titulo{
    font-size: 35px;
    color: var(--white);
    background-color: var(--transparent1);
}

.subtitulo{
    color: var(--secondary);
    background-color: var(--transparent1);
}

p{
    color: var(--white);
    background-color: var(--transparent1);
}

.parrafo{
    max-height: 100px; /* Altura máxima del párrafo */
    overflow: hidden; /* Oculta el contenido que excede la altura */
    transition: max-height 0.5s ease;
}

.parrafo.expanded {
    max-height: 200rem; /* Altura máxima cuando está expandido */
}

#btn-inscripcion{
    margin: auto;
    padding: 1rem;
    
    font-size: 15px;
    font-weight: bold;

    color: var(--white);
    border-radius: 0.5rem;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

#toggleButton{
    margin: 1px;

    color: var(--white);
    background-color: var(--transparent1);
}

/* 2da Columna */
.imagen{
    margin-left: 1rem;
}

.cartelera-img{
    height: 40rem;
    width: 40rem;

    object-fit: cover;
}

/*3ra Columna*/
.icono-secciones{
    margin: auto;
    display: flex;
    padding: 1rem;
    
    justify-content: end;
}

#list-icons, li{
    padding: 1rem;

    align-items: center;
    list-style: none;
}

.list-li:hover{
    animation: bigIcon 3s linear infinite;
}

/* Animación en botón */
@keyframes bigIcon {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1.2);
    }
}

#list-seccion{
    margin: auto;
    display: flex;
    align-items: center;

    flex-direction: column;
}

/* Menú derecho */
#secciones{
    color: var(--white);
    background-color: var(--primary);
}

#secciones li:hover{
    color: var(--secondary);
}

/* Pie de página */
.footer{
    position: relative;
    padding: 0.5rem;
    margin: auto;
    bottom: 0;
}

/* Media querys -> responsividad para celular */
@media (min-width: 360px) and (max-width: 700px){
    .nav, .main, .footer{
        font-family: Arial, Helvetica, sans-serif;

        background-color: var(--primary);
    }

    .row{
        height: 38rem;
        padding: 1rem;
    }

    .col{
        display: contents;
    }

    .cartelera {
        background-color: var(--transparent2);
    }

    .cartelera-img{
        display: none; /* oculto columna de imagen */
    }
    
    /* Estilos para listas */
    .icono-secciones{
        margin: auto;
        display: flex;
    }
    
    #list-icons, li{
        display: inline-block;
        align-items: center;
    }

    /* Sidenav */
    .offcanvas-body{
        margin: auto;
        display: flex;
        align-items: center;

        justify-content: space-around;
    }

    #list-seccion{
        margin: auto;
        display: flex;
        align-items: center;

        flex-direction: column;
    }

    /* Botón */
    #btn-inscripcion{
        margin: auto;
        padding: 0.5rem;
        
        font-size: 15px;
        font-weight: bold;

        color: var(--white);
        border-radius: 0.5rem;
        border-color: var(--secondary);
        background-color: var(--secondary);
    }
}
