/* Estilos generales */
:root{
    --white: #FFFF;
    --primary: rgb(4, 131, 205);
    --secondary: rgb(173, 255, 47);
}

* {
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--primary);
}

a{
    text-decoration: none;
}

/* Navegador */
.nav{
    font-size: 25px;
}

.verde{
    color: var(--secondary);
}

.blanco{
    color: var(--white);
}

/* Contenido principal */
.main {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* Formulario */
.formulario {
    font-size: 15px;
    margin: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    color: var(--white);
}

fieldset{
    border-style: double;
}

legend{
    text-align: center;
    font-size: larger;
}

.form-group{
    padding: 1rem;
}

input{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;

    background-color: var(--white);
}

select, option{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;

    background-color: var(--white);
}

textarea{
    height: 5rem;
    width: 100%;
    margin-top: 0.5rem;

    display: block;
    resize: none;

    background-color: var(--white);
}

/* Botón */
.btn-enviar {
    margin: auto;
    display: flex;

    padding: 1rem;
    font-size: 15px;
    font-weight: bold;

    color: var(--white);
    border-radius: 0.5rem;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

/* media querys -> responsividad */
@media (min-width: 360px) and (max-width: 700px){
    
    .btn-enviar{
        width: 100%;

        justify-content: center;
    }
}